<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body class="bg-info">
    <div class="container">
		<h1 class="text-center text-warning">Gride_View_With_Card</h1><br>
		<div class="row">
			<div class=" col-12 col-sm-6 col-md-6  col-lg-3">
				<div class="card" style="width: 250px">
					<img src="assets\card1.jpg" class="card-img img-fluid" height="250px">
					<div class="card-body">
						<h5 class="card-header text-center text-warning"> Sunflower </h5>
						<!-- <h4 class="card-title text-center text-warning">Sunflower</h4> -->
						<p class="card-text"> The sunflower is a living annual plant in the family Asteraceae, with a large flower head.</p>
						<a href="#" class="btn btn-primary d-block"> Detail's </a>
					</div>
			</div><br>
			</div>
			<div class="col-12 col-sm-6 col-md-6  col-lg-3">
				<div class="card" style="width: 250px">
					<img src="assets\daliya.jpg" class="card-img img-fluid" height="250px">
					<div class="card-body">
						<h5 class="card-header text-center text-info"> Dahlia </h5>
						<!-- <h4 class="card-title text-center text-warning">Sunflower</h4> -->
						<p class="card-text"> Dahlia is a genus of tuberous plants that are members of the Asteraceae family & garden; </p>
						<a href="#" class="btn btn-warning d-block"> Detail's </a>
					</div>
			</div><br>
			</div>
			<div class="col-12  col-sm-6 col-md-6  col-lg-3 ">
				<div class="card" style="width: 250px">
					<img src="assets\lotus.jpg" class="card-img img-fluid" height="250px">
					<div class="card-body">
						<h5 class="card-header text-center text-success"> Lotus </h5>
						<!-- <h4 class="card-title text-center text-warning">Sunflower</h4> -->
						<p class="card-text"> The Lotus is a sacred flower for Hindus and Buddhists.It is symbolically equal to the Buddha for Buddhists </p>
						<a href="#" class="btn btn-danger d-block"> Detail's </a>
					</div>
			</div><br>
			</div>
			<div class=" col-12 col-sm-6 col-md-6  col-lg-3 ">
				<div class="card" style="width: 250px">
					<img src="assets\orchid.jpg" class="card-img img-fluid" height="250px">
					<div class="card-body">
						<h5 class="card-header text-center text-dark"> Orchid </h5>
						<!-- <h4 class="card-title text-center text-warning">Sunflower</h4> -->
						<p class="card-text"> Orchids are flowers from the Orchidaceae family, which is one of the largest plant families. </p>
						<a href="#" class="btn btn-info d-block"> Detail's </a>
					</div>
			</div><br>
      </div>
    </div><br>
    <div class="row">
		<div class="col-12 col-sm-6 col-md-6  col-lg-3 ">
			<div class="card" style="width: 250px">
				<img src="assets\rose.jpg" class="img-fluid" height="250px">
					<div class="card-body">
						<h5 class="card-header text-danger text-center"> Rose</h5>
						<p class="card-text">A rose is a woody perennial flowering plant of the genus Rosa, in the family Rosaceae, or the flower it bears.</p>
						<a href="#" class="btn btn-dark d-block"> Detail's</a>
					</div>
			</div><br>
    </div>
		<div class="col-12 col-sm-6 col-md-6  col-lg-3">
			<div class="card" style="width: 250px">
				<img src="assets\lilie.jpg" class="img-fluid" height="250px">
					<div class="card-body">
						<h5 class="card-header text-secondary text-center"> Lily</h5>
						<p class="card-text">The lily is a genus of flowering plant. There are many species of lilies, like trumpet lilies and tiger lilies.</p>
						<a href="#" class="btn btn-white d-block"> Detail's</a>
					</div>
			</div>
    </div>
  </div><br>
	</div>
</body>
</html>