<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body class="bg-info">
	<!-- Grid_View -->
	<div class="container-fluid">
		<h1 class="text-center text-warning">Image Gallery</h1><br>
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-4 col-12">
				<img src="assets\f1.jpg" class="img-fluid img-thumbnail"><br>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4 col-12">
					<img src="assets\f2.jpg" class="img-fluid img-thumbnail"><br>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4 col-12">
					<img src="assets\f4.jpg" class="img-fluid img-thumbnail"><br>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4 col-12">
					<img src="assets\r23.jpg" class="img-fluid img-thumbnail">
			</div>
		</div><br>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-12">
				<img src="assets\f5.jpg" class="img-fluid img-thumbnail"><br>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-12">
					<img src="assets\f6.jpg" class="img-fluid img-thumbnail"><br>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-12">
					<img src="assets\f77.jpg" class="img-fluid img-thumbnail">
			</div>
		</div><br>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-12">
				<img src="assets\r21.jpg" class="img-fluid img-thumbnail"><br>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-12">
					<img src="assets\r22.jpg" class="img-fluid img-thumbnail"><br>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-12">
					<img src="assets\r23.jpg" class="img-fluid img-thumbnail">
			</div>
		</div><br>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-12">
				<img src="assets\f1.jpg" class="img-fluid img-thumbnail"><br>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-12">
					<img src="assets\f2.jpg" class="img-fluid img-thumbnail"><br>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-12">
					<img src="assets\f4.jpg" class="img-fluid img-thumbnail">
			</div>
		</div><br>
	</div>
</body>
</html>

