<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body class="bg-info">
<div class="container">
    <h1 class="text-center text-warning"> CaRd_ViEwS</h1><br>
    <div class="row">
    <div class="col-lg-4 col-md-5 col-sm-6 col-12">
    <div class="card" style="width: 250px">
        <img src="assets\sunflower.jpg" class="card-img img-thumbnail" height="250px">
        <div class="card-body">
            <h5 class="card-header text-center text-warning"> Sunflower </h5>
            <!-- <h4 class="card-title text-center text-warning">Sunflower</h4> -->
            <p class="card-text"> This is my favorite Flower </p>
            <a href="#" class="btn btn-dark d-block"> Detail's </a>
        </div>
    </div><br>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-6 col-12">
    <div class="card" style="width: 250px">
        <div class="card-body">
            <h5 class="card-header text-center text-danger"> Sunflower </h5>
            <!-- <h4 class="card-title text-center text-warning">Sunflower</h4> -->
            <p class="card-text"> This is my favorite Flower </p>
            <a href="#" class="btn btn-success d-block"> Detail's </a>
        </div>
        <img src="assets\sunflower.jpg" class="card-img img-thumbnail" height="250px">
    </div><br>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-6 col-12">
    <div class="card" style="width: 250px">
        <div class="card-body">
            <h5 class="card-header text-center text-warning"> Sunflower </h5>
            <!-- <h4 class="card-title text-center text-warning">Sunflower</h4> -->
        </div>
            <img src="assets\sunflower.jpg" class="card-img img-thumbnail" height="250px">
        <div>
            <p class="card-text"> This is my favorite Flower </p>
            <a href="#" class="btn btn-primary d-block ml-auto"> Detail's </a>
        </div>
    </div><br>
    </div>
</div>
</div><br>
</body>
</html>